
body{
    background-color: #ffffff;
    border: 20px solid black;
}

.headingPart{
    justify-content: center;
     display: flex;
     align-content: center;
     padding: 50px;
     margin: 40px;
     flex-direction: column;
     border: 30px solid black;
     text-align: center;
     background-color:  #14213d ;
     color: #ffffff;
     border-top-left-radius: 2px solid white;
}

form{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 50px;
    text-align: center;
}

.votingArea{
    border:30px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #ffffff; 
    margin: 10px;
}

.candidate01,
.candidate02,
.candidate03{
    border: 1px solid black;
    justify-content: center;
    display: flex;
    flex: 1;
    padding: 100px;
    align-content: center;
    margin: 100px;
    height: fit-content;
    width: 40px;
    background-color: #14213d ;
    border-radius: 50px;
    color: azure;
}

.formPart{
    padding: auto;
    margin: auto;
    background-color: aliceblue;
}

#vote-btn{
background-color: green;
color: white;
padding: 10px;
border: 2px solid black;
border-radius: 10px

}

