.meals {
    width: 90%;
    margin: 0;
    animation: meals-appear 1s ease-out forwards;
  }
  
  .meals ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .meal1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin-left: 0%;
    margin-right: 0%;
    width: 100%;;
  }

  
  


  @keyframes meals-appear {
    from {
      opacity: 0;
      transform: translateY(3rem);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }