/* .cart-button {
  position: absolute;
  top: 1px;
  right: 100px;
  color: white;
  padding: 3px 6px;
  border-radius: 20%;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s;
  height: 30px;
  width: 80px; 
}

 .cart-button:hover {
  background-color: #0056b3; 
  transform: scale(1.1);
}  */
