.productContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 0 20px; /* Add padding to the left and right sides */
  margin-top: 180px;
}

/* Remaining CSS styles remain the same */
.productItem {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.productItem:hover {
  transform: translateY(-5px);
}

.productImage {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.productInfo {
  padding: 20px;
}

.productTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.productDescription {
  font-size: 14px;
  margin-bottom: 10px;
}

.productPrice {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.productControls {
  display: flex;
  align-items: center;
}

.quantityInput {
  width: 60px;
  height: 30px;
  margin-right: 10px;
  padding: 0 10px;
}

.addButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addButton:hover {
  background-color: #0056b3;
}



.link {
  text-decoration: none; /* Remove underline by default */
  color: black; /* Set default text color to black */
}

.link:hover,
.link:focus {
  color: blue; /* Change text color on hover and focus */
  text-decoration: none; /* Underline on hover and focus */
}








