/* Forget.module.css */

.container {
    display: flex;
    padding: 90px;;
    justify-content: center;
    align-items: flex-start; /* Align items to the top of the container */
   
  }
  
  .form {
    width: 300px; /* Adjust width as needed */
    padding: 40px 20px; /* Increase top padding to move the form box up */
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .forget {
    border: none;
    padding: 10px;
    color: white;
    background-color: #007bff;
    text-decoration: none;
    display: block; /* Ensure the button takes up the full width of its container */
    text-align: center; /* Center text horizontally */
    margin-top: 20px; /* Add some space between the form and the button */
  }
  
  .forget:hover {
    background-color:#086dd9 ;
    border: none;
    color: white;
  }
  